<%- include('../partials/header') %>

<h1><%= title %></h1>

<form id="new-campaign-form" action="/campaigns" method="POST">
    <div id="campaignDetails">
        <label for="name">Campaign Title:</label>
        <input type="text" name="name">
        <label for="system">System:</label>
        <select name="system">
            <option value="D&D 5e">Dungeons and Dragons: 5th Edition</option>
            <option value="Pathfinder">Pathfinder: 1st Edition</option>
            <option value="Pathfinder 2e">Pathfinder: 2nd Edition</option>
            <option value="Starfinder">Starfinder</option>
            <option value="Mage: The Ascension">Mage: The Ascension</option>
            <option value="Vampire: The Masquerade">Vampire: The Masquerade</option>
            <option value="Shadowrun">Shadowrun</option>
            <option value="Fate">Fate</option>
            <option value="GURPS">GURPS</option>
            <option value="Call of Cthulhu">Call of Cthulhu</option>
        </select>
        <label for="gameSchedule">Game Schedule:</label>
        <select name="gameSchedule">
            <option value="Every week">Every week</option>
            <option value="Every other week">Every other week</option>
            <option value="Once per month">Once per month</option>
            <option value="Other">Other</option>
        </select>
        <label for="gameDay">Game Day:</label>
        <select name="gameDay">
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select>
        <label for="nextGame">Next Game:</label>
        <input type="datetime-local" name="nextGame">
    </div>
    <div id="campaignSubmit">
        <label for="cover"></label>
        <input type="file" id="image" name="cover" value="" >
        <br>
        <input type="submit" value="Add Campaign">
    </div>
</form>

<%- include('../partials/footer') %>