* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #424748;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #A8A8B4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 0 30px;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: large;
}

#home > img {
  width: 34px;
  object-fit: contain;
  margin-right: 5vh;
}

nav > a#home {
  margin: 0;
  padding: 0;
}

nav > a#home:hover:not(.active) {
  background-color: transparent;
}

nav > a {
  color: #464660;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > #account {
  justify-content: flex-start;
  margin-left: auto;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #464660;
}

nav > a.active {
  color: white;
  cursor: default;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1e9e5;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

#landingLogo {
  height: 20vh;
}

#landingPage {
  max-width: 100vh;
  font-size: 4vh;
  justify-content: center;
  text-align: center;
  font-family: 'Signika', sans-serif;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingBtn {
  align-items: center;
  background: #024739;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.landingBtn:active,
.landingBtn:hover {
  outline: 0;
}

.landingBtn span {
  background-color: #464660;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  text-align: center;
}

.landingBtn:hover span {
  background: none;
}

@media (min-width: 768px) {
  .landingBtn {
    font-size: 24px;
    min-width: 196px;
  }
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "col1 col2";
}

div#campaignDetails {
  grid-area: col1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

div#campaignSubmit {
  grid-area: col2;
  display: flex;
  flex-direction: column;
  padding-left: 1vh;

  align-items: center;
}

#error {
  background-image: url("public/images/nat1.png");
}

#campTiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

#campTiles > div {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  height: 350px;
  width: 250px;
  background: whitesmoke;
  border: solid 2px #424748;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1vh;
}

div.campaign > p {
  border-radius: 50px;
  color: white;
  padding: 1.25vh;
  font-weight: bold;
}

.header {
  min-height: fit-content;
  max-height: 5vh;
}

span#add-camp-symb {
  justify-content: center;
  align-items: center;
  font-size: 75px;
}

div.addTile > a {
  color: #424748;
}

div#delete-icons {
  display: inline-block;
  flex-direction: row;
  width: 100%;
}

.material-symbols-outlined {
  display: inline-block;
}

span#delete-camp-symb {
  float: right;
}

span#archive-camp-symb {
  float: left;
}

div#notesPage {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-areas: 
    "docs note imgs";
  column-gap: 1vh;
  width: 100%;
}

div#docs {
  grid-area: docs;
  height: 80vh;
  border: 1px solid black;
}

div#note {
  grid-area: note;
  height: 80vh;
  border: 1px solid black;
}

div#imgs {
  grid-area: imgs;
  height: 80vh;
  border: 1px solid black;
}

.genTitle {
  position: absolute;
  top: 40px;
  left: 10px;
}

div#notesMain {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "notes players";
}

div#notesSection {
  grid-area: notes;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

div#playersSection {
  grid-area: players;
  background-color: #ABB7B4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

div#notesSection > h1 {
  text-align: center;
}