<%- include('../partials/header') %>

<h1><%= title %></h1>

<div id="notesPage">
    
    <div id="docs">
        <h3>Documents</h3>
    </div>

    <div id="note">
        <h3></h3>
    </div>

    <div id="imgs">
        <h3></h3>
    </div>

</div>
    
<%- include('../partials/footer') %>